<% if (flash && flash.success) { -%>
  <div class="alert alert-success"><%= flash.success %></div>
<% } -%>
<% if (flash && flash.error) { -%>
  <div class="alert alert-danger"><%= flash.error %></div>
<% } -%>
