<% if (flash && flash.success) { -%>
  <div class="flash alert alert-success"><%= flash.success %></div>
<% } -%>
<% if (flash && flash.error) { -%>
  <div class="flash alert alert-error"><%= flash.error %></div>
<% } -%>
