<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Appcast Admin</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
</head>
<body>
  <% include flash %>
  <%- body %>
</body>
</html>
