<div class="panel panel-default">
  <div class="panel-heading">
    <%= appcast.app.name %> <%= appcast.build.version_string %> is now available!
  </div>
  <div class="panel-body">
    <%- notes %>
  </div>
</div>

<div class="well">
  You find the exact set of changes in the release notes under the help menu.
</div>
