<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title><%= appcast.app.name %></title>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/release-notes.css" rel="stylesheet">
  <link rel="shortcut icon" href="/favicon.ico">
</head>
<body>
  <div class="container">
    <%- body %>
  </div>
</body>
</html>
