<h1>Add a new app</h1>

<form method="post" action="/admin/apps" class="" role="form">
  <%- bootstrap.textField(app, 'name', { name: 'app', label: 'Name' }) %>
  <%- bootstrap.textField(app, 'url_id', { name: 'app', label: 'URL fragment' }) %>
  <button type="submit" class="btn btn-primary">Save changes</button>
</form>
