<%- bootstrap.breadcrumb(['Clients', '/admin/clients'], 'New') %>

<h1>Add a new client</h1>

<form method="post" action="/admin/clients" class="" role="form">
  <% include fields %>
  <button type="submit" class="btn btn-primary">Save changes</button>
</form>
