<%- bootstrap.breadcrumb(['Builds', '/admin/builds'], 'Edit') %>

<h1>Edit build</h1>

<form method="post" action="/admin/builds/<%= build.id %>" class="" role="form">
  <input type="hidden" name="_method" value="patch">
  <% include fields %>
  <button type="submit" class="btn btn-primary">Save changes</button>
</form>

<hr>

<h2>Delete build</h2>

<div class="alert alert-warning">Warning: This will remove the build permanently.</div>

<form method="post" action="/admin/builds/<%= build.id %>" class="" role="form" onsubmit="return confirm('Are you sure you want to delete this build?')">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn btn-warning"><i class="glyphicon glyphicon-trash"></i> Delete build</button>
</form>
