<p><a href="/admin/builds/new" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign"></span> Add build</a></p>

<%- bootstrap.table(builds, [{
    name: 'App',
    value: function(c) { return c.app_name; }
  },
  'title',
  {
    name: 'Filename',
    value: buildHelpers.downloadLink
  },
  'version_string',
  'released_channels',
  'publication_date', {
    name: 'Options',
    value: buildHelpers.optionsLink
  }
]) %>
